
<div id="abc">

    <nav >

        <ul>

            <li><a routerLink="home" href="#">

             Bday

            </a></li>

            <!-- <li *ngIf="displayManager"><a routerLink="listStaff" href="#">Staff</a></li>

            <li *ngIf="displayManager"><a routerLink="listproducts" href="#">Food Products</a></li>

            <li *ngIf="displayManager"><a routerLink="listmenu" href="#">Menu</a></li>

            <li *ngIf="displayStaff"><a routerLink="listorders" href="#">Orders</a></li>

            <li *ngIf="displayStaff"><a routerLink="createOrder" href="#">Create Order</a></li> -->

            <span title="Click here to logout"><li style="float: right;"><button (click)="logout()"><i class="fa-solid fa-right-from-bracket fa-xl"></i></button></li></span>
<!-- 
            <li style="float: right;"><a>{{name | titlecase}}</a></li> -->

        </ul>

    </nav>

</div>

<router-outlet></router-outlet>

